promtail:
  # https://github.com/grafana/helm-charts/blob/main/charts/promtail/values.yaml
  serviceMonitor:
    enabled: true
  config:
    snippets:
      pipelineStages:
        # not cri, because we're running in minikube with docker runtime
        - docker: {}
    clients:
      - url: http://loki.loki:3100/loki/api/v1/push